.banner{
    h1{
        font-family: $typo-main;
        @include flex (row, center, start);
        color: $typo-color;
        margin: 5px 50px;
        padding: 0;
        font-size: 96px;
    }
    h2{
        @extend h1;
        font-size: 30px;
    }
}
.texto{
    margin-right: 80px;
    margin-top: 200px;
    color: $typo-color;

}
.nav-link{
    color: $typo-color;
    font-size: 20px;
}